# Explore the BLAST output

This Jupyter notebook shows how to load and enhance the results of a distributed BLAST against the [NCBI's Sequence Read Archive (SRA)](https://www.ncbi.nlm.nih.gov/sra). For more/up-to-date information, please check [GitHub Wiki](https://github.com/NCBI-Hackathons/Generating-a-Fungal-Index-for-the-SRA/wiki).

## Install dependencies

This notebook requires [`pandas`](http://pandas.pydata.org/) and [`pysradb`](https://saket-choudhary.me/pysradb/) to be installed:

In [1]:
! pip install pandas

Requirement already satisfied: pandas in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (from pandas) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
! pip install pysradb

Requirement already satisfied: pysradb in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: pandas>=0.23.4 in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (from pysradb) (0.24.2)
Requirement already satisfied: tqdm>=4.28 in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (from pysradb) (4.31.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (from pandas>=0.23.4->pysradb) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (from pandas>=0.23.4->pysradb) (1.16.2)
Requirement already satisfied: pytz>=2011k in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (from pandas>=0.23.4->pysradb) (2019.1)
Requirement already satisfied: six>=1.5 in /home/aurelien/activite/latitude77/realisation/find/sra/blast_output_parser/ve/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas>=0.23.4->pysradb) (1.12.0)

Note: you may want to add the `--user` flag if you're working with your system's Python. To manage your own different versions of Python, we recommend [`pyenv`](https://github.com/pyenv/pyenv/) and its [`pyenv-virtualenv`](https://github.com/pyenv/pyenv-virtualenv) plugin.

## Load the BLAST output

Set the name of the distributed BLAST output file to load (use `Tab` to autocomplete):

In [3]:
blast_output_filename = "sample_blast_output.parsed"

Load it into a [Pandas](https://pandas.pydata.org/) dataframe (for more information, please check the [dataframe documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)):

In [4]:
import pandas as pd

blast_output = pd.read_csv(blast_output_filename, sep=" ")

Show the blast output:

In [5]:
blast_output.head()  # Show the first records

,id1,id2,length,score,length2,e_value,identities,gaps,strand
0,DRR001369.139725,GEKBKKN08I5SM9,597,128,69,8.000000e-30,69/69,0/69,Plus/Plus
1,DRR001369.139710,GEKBKKN08JJ5PQ,777,128,69,8.000000e-30,69/69,0/69,Plus/Plus
2,DRR001369.139705,GEKBKKN08JT0FI,594,128,69,8.000000e-30,69/69,0/69,Plus/Plus
3,DRR001369.139692,GEKBKKN08I64FT,604,128,69,8.000000e-30,69/69,0/69,Plus/Plus
4,DRR001369.139691,GEKBKKN08JPHFU,517,128,69,8.000000e-30,69/69,0/69,Plus/Plus

## Basic operations on dataframes

Before hacking/adding your own data of interest, let's see how to remove, filter, load and save a dataframe.

### Remove columns

You may want to remove columns that are irrelevant for your needs. The best way to do this in pandas is to use `drop`:

In [6]:
blast_output_new = blast_output.drop('strand', 1)  # create a new dataframe without the column `strand`
blast_output_new.head()

,id1,id2,length,score,length2,e_value,identities,gaps
0,DRR001369.139725,GEKBKKN08I5SM9,597,128,69,8.000000e-30,69/69,0/69
1,DRR001369.139710,GEKBKKN08JJ5PQ,777,128,69,8.000000e-30,69/69,0/69
2,DRR001369.139705,GEKBKKN08JT0FI,594,128,69,8.000000e-30,69/69,0/69
3,DRR001369.139692,GEKBKKN08I64FT,604,128,69,8.000000e-30,69/69,0/69
4,DRR001369.139691,GEKBKKN08JPHFU,517,128,69,8.000000e-30,69/69,0/69

To delete the column without having to reassign the dataframe you can do:

In [7]:
blast_output.drop('strand', axis=1, inplace=True)  # remove the column `strand` from `blast_output`
blast_output.head()

,id1,id2,length,score,length2,e_value,identities,gaps
0,DRR001369.139725,GEKBKKN08I5SM9,597,128,69,8.000000e-30,69/69,0/69
1,DRR001369.139710,GEKBKKN08JJ5PQ,777,128,69,8.000000e-30,69/69,0/69
2,DRR001369.139705,GEKBKKN08JT0FI,594,128,69,8.000000e-30,69/69,0/69
3,DRR001369.139692,GEKBKKN08I64FT,604,128,69,8.000000e-30,69/69,0/69
4,DRR001369.139691,GEKBKKN08JPHFU,517,128,69,8.000000e-30,69/69,0/69

### Filter records

Depending on your query, the dataframe may contain a lot of records. You might want to select only those relevant for your needs with [`query`](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html).

In [8]:
blast_output.query('length<700').head()  # Keep only records w/ length<700

,id1,id2,length,score,length2,e_value,identities,gaps
0,DRR001369.139725,GEKBKKN08I5SM9,597,128,69,8.000000e-30,69/69,0/69
2,DRR001369.139705,GEKBKKN08JT0FI,594,128,69,8.000000e-30,69/69,0/69
3,DRR001369.139692,GEKBKKN08I64FT,604,128,69,8.000000e-30,69/69,0/69
4,DRR001369.139691,GEKBKKN08JPHFU,517,128,69,8.000000e-30,69/69,0/69
5,DRR001369.139687,GEKBKKN08I7I7W,672,128,69,8.000000e-30,69/69,0/69

### Load and save a dataframe

You can save a dataframe with:

In [9]:
blast_output.to_pickle("blast_output.pkl")

You can load a saved dataframe with:

In [10]:
pd.read_pickle("blast_output.pkl").head()

,id1,id2,length,score,length2,e_value,identities,gaps
0,DRR001369.139725,GEKBKKN08I5SM9,597,128,69,8.000000e-30,69/69,0/69
1,DRR001369.139710,GEKBKKN08JJ5PQ,777,128,69,8.000000e-30,69/69,0/69
2,DRR001369.139705,GEKBKKN08JT0FI,594,128,69,8.000000e-30,69/69,0/69
3,DRR001369.139692,GEKBKKN08I64FT,604,128,69,8.000000e-30,69/69,0/69
4,DRR001369.139691,GEKBKKN08JPHFU,517,128,69,8.000000e-30,69/69,0/69

For more information, see the [Pandas documentation](http://pandas-docs.github.io/pandas-docs-travis/user_guide/io.html).

## Enhance the index

### Add related data

Once the index is loaded and cleaned up according to your needs, you can add metadata / related data as columns to the dataframe. For instance, to compute the percentage of identity, you would need to define the following function:

In [11]:
def identity_percent(identities):
    """Compute % identity"""
    numerator = float(identities[:identities.find("/")])
    denominator = float(identities[identities.find("/")+1:])
    return  numerator / denominator

Once the function is defined, it can be applied to the dataframe to add a new column, as follows:

In [12]:
blast_output['identity_percent'] = blast_output.apply(lambda x: identity_percent(x['identities']), axis=1)

Printing `blast_output` shows the extra column, with the proper name and calculated values:

In [13]:
blast_output.head()  # Show the first records, to check it works

,id1,id2,length,score,length2,e_value,identities,gaps,identity_percent
0,DRR001369.139725,GEKBKKN08I5SM9,597,128,69,8.000000e-30,69/69,0/69,1.0
1,DRR001369.139710,GEKBKKN08JJ5PQ,777,128,69,8.000000e-30,69/69,0/69,1.0
2,DRR001369.139705,GEKBKKN08JT0FI,594,128,69,8.000000e-30,69/69,0/69,1.0
3,DRR001369.139692,GEKBKKN08I64FT,604,128,69,8.000000e-30,69/69,0/69,1.0
4,DRR001369.139691,GEKBKKN08JPHFU,517,128,69,8.000000e-30,69/69,0/69,1.0

### Real-world example and external data

The example function `identity_percent` above  was kept simple on purpose. In your own custom functions, you may want to access external data. See the three suggestions below.

#### SRA metadata

SRA's metadata can be downloaded locally as a compressed SQLite3 database (2.5 Gb, 37 Gb once extracted) from [this lab](http://gbnci.abcc.ncifcrf.gov/sra/index.php) ([direct link](https://gbnci-abcc.ncifcrf.gov/backup/SRAmetadb.sqlite.gz), [mirror](https://s3.amazonaws.com/starbuck1/sradb/SRAmetadb.sqlite.gz)). To explore these metadata, either use `sqlite3` [directly](https://edwards.sdsu.edu/research/sra-metadata/) or try [pysradb](https://saket-choudhary.me/pysradb/) ([example notebook](https://nbviewer.jupyter.org/github/saketkc/pysradb/blob/master/notebooks/01.SRAdb-demo.ipynb)).

Example with `pysradb`:

In [14]:
# This code will not work since the sradb file has to be downloaded first
from pysradb import SRAdb, download_sradb_file

# Uncomment the next line if you haven't downloaded `SRAmetadb.sqlite` yet.
# download_sradb_file()

db = SRAdb('SRAmetadb.sqlite')
df = db.sra_metadata('DRR001369', detailed=True)
df.head()

OperationalError: no such table: metaInfo

Notes:

- On GNU/Linux, SRA can be mounted locally with a FUSE-module called [fusera](https://github.com/mitre/fusera).
- You can also access SRA from your browser [here]( https://www.ncbi.nlm.nih.gov/sra), [browse runs](https://trace.ncbi.nlm.nih.gov/Traces/sra/?run=DRR001369), etc.

#### Use Entrez's API with BioPython

[`Biopython`](https://biopython.org/wiki/Documentation) provides many other useful tools. In particular, it gives you access to the full power of [NCBI's Entrez data retrieval system](http://biopython.org/DIST/docs/tutorial/Tutorial.html#htoc116). Its [efetch](http://biopython.org/DIST/docs/api/Bio.Entrez-module.html#efetch) function can query SRA directly. See [here](https://github.com/nelas/sra.py/blob/master/sra.py) for examples. Advanced queries can be built with this [web interface](https://www.ncbi.nlm.nih.gov/sra/advanced).

#### BioSample

Many useful metadata can also be downloaded from [BioSample (xml - 790MB download)](https://www.ncbi.nlm.nih.gov/public/).

### Ensembl

The [Ensembl REST API](http://rest.ensembl.org/) provides access to many european resources.